<h1>Wiki</h1>

<%= link_to new_article_path do %>
	<div class="btn btn-primary">Add a new article</div>
<% end %>


<% @articles.each do |article| %>
	<h3><%= article.title %></h3>
	<p><%= article.content %></p>
<% end %>
